on:
  workflow_dispatch:
    inputs:
      schedule_config:
        description: 'config'
        required: true
        default: ''
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: copy file
        run: echo '${{ github.event.inputs.schedule_config }}'>events/0000-00-00_Test/schedule_cfg.yml
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: run test
        run: |
          cd events/0000-00-00_Test
          java -cp ../../target/pairing-list-1.0-SNAPSHOT-jar-with-dependencies.jar gundramleifert.pairing_list.Optimizer
      - name: upload results
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: events/0000-00-00_Test/*.*

